body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-family: 'Zilla Slab';
}


button {
    /*margin-top: 15%;*/
    height: 170px;
    width: 450px;
    font-size: 28px;
    font-weight: bolder;
    background-color: rgb(248, 220, 182);
    border: 3px solid black;
    box-shadow: 0 0 10px 1.7px black, 0 0 5px 10px rgb(107, 95, 95) inset;
    font-family: 'Zilla Slab';
    transition: background-color 1s ease, transform 0.1s ease;
    
}

@media (max-width: 600px) {
    button {
        font-size: 23px;
    } 
}

button:hover {
    color: rgb(222, 222, 224);
    background-color: rgba(0, 0, 0, 0.445);
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 0 0 10px 3px rgb(0, 0, 0), 0 0 9px 13px rgba(0, 0, 0, 0.253) inset;
}

button:active { transform: scale(0.96); /* Reduce ligeramente el tamaño del botón */ 
}